<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:60561/GFSMaster.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGFSMaster" contract="GFSMasterServiceReference.IGFSMaster"
        name="BasicHttpBinding_IGFSMaster" />
      <endpoint address="http://localhost:61241/GFSChunkServer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGFSChunkServer"
        contract="GFSChunkServiceReference.IGFSChunkServer" name="BasicHttpBinding_IGFSChunkServer" />
    </client>
    <services>
      <service name="GFSMasterService.GFSMaster" behaviorConfiguration="behaviorConfiguration">
        <!--服务的对象-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/"/>
            <!--服务的IP和端口号-->
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="GFSMasterService.IGFSMaster"></endpoint>
        <!--contract：服务契约-->
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfiguration">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGFSMaster" closeTimeout="00:10:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGFSChunkServer" closeTimeout="00:10:00"
          receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  
</configuration>